<li class="timeline">
  <div class="timeline-badge success">
  </div>
  <div class="timeline-panel">
    <div class="timeline-heading" style="display: flex; justify-content: space-between">
      <div>
        <span class="badge badge-pill badge-success">
          Health Report
        </span>
      </div>
      <div>
        <span>
          <%= health_timeline.created_at.strftime("%b, %d")%>
        </span>
      </div>
    </div>
    <hr>
    <div>
      <div>
        <h6>
          Plant Height
        </h6>
        <span>
          <%= health_timeline.height_in_centimeters %>
        </span>
      </div>
      <div>
        <h6>
          Diagnosis
        </h6>
        <span>
          <%= health_timeline.diagnosis %>
        </span>
      </div>
      <div>
        <% if health_timeline.image.representable? %>
          <%= image_tag url_for(health_timeline.image) %>
        <% end %>
      </div>
    </div>
  </div>
</li>