<li class="timeline">
  <div class="timeline-badge success">
  </div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <span class="badge badge-pill badge-success"> Health Report</span>
    </div>
    <div>
    </div>
  </div>
</li>