<div id="header">
  <div>
    <h1>GroWise</h1>
    <span>For all your Growing Needs</span>
  </div>
  <div>
    <h3>Hello, User</h3>
  </div>
  <div class="button" id="access">
    <button>Sign Up</button>
    <button>Log In</button>
  </div>
</div>
