<div class="card" style="width:40%;">
  <div class="card-header">
    <h5 class="card-title">Good Plants start with Good Nutrients</h5>
  </div>
  <div class="card-body">
    <%= bootstrap_form_for [@crop, @nutrient] do |f| %>
      <div>
        <%= f.text_field :name, placeholder: "Nutrient" %><br />
      </div>
      <%= button_to "Add Nutrient" %>
    <% end %>
  </div>
</div>