<div>
  <h3>Harvest Logs</h3>
  <%= button_to "Add Harvest", new_harvest_path %>
  <table>
    <tr>
      <th>Harvest</th>
      <th>Plants</th>
      <th>Yield (expected)</th>
          <th>Yield (actual)</th>
          <th>Cost (per weight)</th>
          <th>Value (per weight)</th>
          <th>Profit (expected)</th>
          <th>Profit (actual)</th>
          <th>Margins</th>
        </tr>
    <%= render partial: 'harvest', collection: @harvests %>
  </table>
</div>  
