<h1>Harvests#index</h1>
<p>Find me in app/views/harvests/index.html.erb</p>

<%= link_to "Add Harvest, new_harvests_path %>
<table>
  <% @harvests.each do |harvest| %>
  <tr>
    <td><%= harvest.num_plans %></td>
    <td><%= harvest.profit_margin %></td>
  </tr>
  <% end %>
</table>
