
<tr>
  <td><%= plant.start_date %></td>
  <td><%= plant.crop.name %></td>
  <td><%= plant.variant.name %></td>
  <td><%= link_to "Plant", plant_path(plant.id), class: "btn btn-primary" %></td>
</tr> 
