
<tr>
  <td><%= plantJournal..start_date %></td>
  <td><%= plantJournal.crop %></td>
  <td>Seed</td>
  <td><%= link_to "Plant Journal", plant_journal_path(plantJournal.id), class: "btn btn-primary" %></td>
</tr> 
