<div class="card-timeline">
  <h3 style="text-align: center">Plant Timeline</h3>
  <div style="display: flex; justify-content: space-around;">
    <%= render partial: "show_timeline_header" %>
  </div>
  <div style="overflow: scroll">
    <ul class="timeline">
      <%= render partial: '/health_reports/health_timeline', 
                 collection: @plant.health_reports %>
      <%= render partial: '/harvest_reports/harvest_timeline', 
                 collection: @plant.harvest_reports %>
    </ul>
  </div>
</div>