<div class="card" style="width:575px">
  <div class="card-header">
    <h6 class="card-title"><%= @plant.plan.name %></h6>
    <h5 class="card-category">Growth Plan Summary</h5>
  </div>
  <%= react_component('PlantPlanSummary') %>
</div>