<div class="card">
  <div style="display:flex; justify-content:space-around">
    <div>
      <h5>Crop Name</h5>
      <h6>Crop Scientific Name</h6>
      <p>Crop Description</p>
    </div>
    <div>
      <h5>Variant Name</h5>
      <h6>Variant Scientific Name</h6>
      <p>Variant Description</p>
    </div>
    <div>
      <h3>
        CROP IMAGE HERE!
      </h3>
    </div>
  </div>
</div>