<div class="card card-timeline">
  <%= render partial: "show_timeline_header" %>
  </div>
  <div class="card-body">
    <ul class="timeline">
      <%= render partial: '/health_reports/health_timeline', 
                 collection: @plant.health_reports %>
      <%= render partial: '/harvest_reports/harvest_timeline', 
                 collection: @plant.harvest_reports %>
    </ul>
  </div>
</div>