<div class="card">
  <%= react_component('PlantHeader', {crop: @plant.crop, variant: @plant.variant, startDate: @plant.created_at, 
                                      phase: @plant.phase, plan: @plant.plan, }) %>
</div>