<div class="card" style="width:30%; margin-left:20px">
  <div class="card-header">
    <h6 class="card-title">Plant Growth Summary</h6>
    <span class="card-category">Last Updated: Month Day</span>
  </div>
  <%= react_component('PlantGrowthSummary') %>
</div>