<div class="card">
  <%= react_component('PlantTimelineHeader') %>
  <div class="card-body">
    <div class="card-timeline">
      <div style="overflow: scroll">
        <ul class="timeline">
          <%= react_component('PlantTimelineHealth') %>
          <%= react_component('PlantTimelineHarvest') %>
        </ul>
      </div>
    </div>
  </div>
</div>