<div id="index">
  <table>
  <%= button_to "Add Plant", new_plant_path %>
    <tr>
      <th>Start Date |</th>
      <th> Harvested</th>
      <th> Current Week |</th> 
      <th> Grow Medium |</th>
      <th> Nutrient Mix |</th>
      <th> Light? |</th>
      <th> Growth |</th>
    </tr>
  <%= render partial: 'plant', collection: @plants %>
  </table>
</div>
    