<%= content_for :content_header do %>
  <div class="plantsHeader">
    <div class="headerStat">
      <h1>100</h1>
      <h5>Number of Active Journals</h5>
    </div>
    <div class="headerStat">
      <h3>Seed</h3>
      <h5>25 plants</h5>
      <h6>Most Comman Phase</h6>
    </div>
    <div>
      <h3></h3>
    </div>
    <div class="headerStat">
      <%= link_to "Add Plant", new_plant_journal_path, class: "btn btn-primary" %>
    </div>
  </div>
  <hr>
<% end %>
<div class='card table-responsive'>
  <table class="table">
    <thead>
      <tr>
        <th>Start Date</th>
        <th>Crop</th>
        <th>Phase</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'plant', collection: @plant_journals %>
    </tbody>
  </table>
</div> 