<%= content_for :content_header do %>
  <div class="card plants" id="header">
    <h3 style="text-align: center">ALL PLANTS</h3>
    <hr>
    <div class="plants" id="overview">
      <div class="details" id="journals">
        <h6>Active Journals</h6>
        <h4><%= @plants.length %></h4>
      </div>
      <div class="details" id="crops">
        <h6>Popular Crop</h6>
        <h4>A NAME</h4>
      </div>
      <div class="details" id="attentions">
        <h6>Plants Needing Attention</h6>
        <h4>A NUMBER</h4>
      </div>
    </div>
  </div>
<% end %>
<div class='card table-responsive'>
  <table class="table">
    <thead>
      <tr>
        <th>Start Date</th>
        <th>Crop</th>
        <th>Variant</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'plant', collection: @plants %>
    </tbody>
  </table>
</div> 