<%= content_for :content_header do %>
  <div class="row p-3">
    <div class="col-md-10">
      <h2>My Plants</h2>
    </div>
    <div class="text-right col-md-2">
      <%= link_to "Add Plant", new_plant_path, class: "btn btn-primary" %>
    </div>
  </div>
  <hr>
<% end %>
<div class='card table-responsive'>
  <table class="table">
    <thead>
      <tr>
        <th>Crop</th>
        <th>Start Date</th>
        <th>Current Week</th>
        <th>Grow Medium</th>
        <th>Food Plan</th>
        <th>Growth Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'plant', collection: @plants %>
    </tbody>
  </table>
</div>
