<form>
  <label for="start_date">Start Date</label><br>
  <input type="text" id="start_date" placeholder="MM/DD/YY"><br>
  <label for="phase">Grow Phase</label><br>
  <select value="phase">
    <option>Rooting</option>
    <option>Veg</option>
    <option>Flower</option>
    <option>Cleanse</option>
  </select><br>
  <label for="medium">Grow Medium</label><br>
  <select value="medium"</select>
    <option>Coco</option>
    <option>Soil</option>
  </select>
</form>