<form>
<label for="crop">Crop</lable>
<select class="crop" id="crop" value="crop">
<option>Cannabis</option>
<option>Lettuce</option>
<option>Strawberries</option>
<option>Tomatoes</option>
<option>Pumpkins</option>
</select>
<label for="startDate">Start Date</label>
<input type="date">
<label for="HarvestDate">Estimated Harvest Date</label>
<input type="date">
<label for="growMedium">Grow Medium</lable>
<select class="growMedium" id="growMedium" value="growMedium">
<option>CoCo</option>
<option>Soil</option>
</select>
<label for="foodPlan">Food Plan</lable>
<select class="foodPlan" id="foodPlan" value="foodPlan">
<option>Fox Farm</option>
<option>Aethena</option>
</select>
</form>