<%= content_for :content_header do%>
  <%= render partial: 'plant_header', local: @plant %>
<% end %>
<div class="card-timeline">
  <ul class="timeline">
    <li class="timeline">
      <div class="timeline-badge success"></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <span class="badge badge-pill badge-success"> Health Report</span>
        </div>
        <div>
          <p>
            THIS IS A HEALTH REPORT!!!
            LOOKS HEALTHY TO ME...
          </p>
        </div>
      </div>
    </li>
        <li class="timeline-inverted">
      <div class="timeline-badge success"></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <span class="badge badge-pill badge-success"> Health Report</span>
        </div>
        <div>
          <p>
            THIS IS A HEALTH REPORT!!!
            LOOKS HEALTHY TO ME...
          </p>
        </div>
      </div>
    </li>
        <li class="timeline">
      <div class="timeline-badge success"></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <span class="badge badge-pill badge-success"> Health Report</span>
        </div>
        <div>
          <p>
            THIS IS A HEALTH REPORT!!!
            LOOKS HEALTHY TO ME...
          </p>
        </div>
      </div>
    </li>
        <li class="timeline-inverted">
      <div class="timeline-badge success"></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <span class="badge badge-pill badge-success"> Health Report</span>
        </div>
        <div>
          <p>
            THIS IS A HEALTH REPORT!!!
            LOOKS HEALTHY TO ME...
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>