<tr>
  <td>
    <%= crop_plan.name %>
  </td>
  <td>
    <%= crop_plan.description %>
  </td>
  <td>
    55555
  </td>
  <td>
    <%= link_to "View", crop_plan_path(crop_plan.id) %>
    <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm">
      <i class="fa fa-edit"></i>
    </button>
    <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm">
      <i class="fa fa-times"></i>
    </button>
  </td>
</tr>