<div class="col-md-12">
  <div class="card card-plain">
    <div class="card-header">
      <h4 class="card-title"><%= @crop.name %> Variants</h4>
      <p class="card-category"></p>
      <%= link_to "Add Variant", new_crop_variant_path(@crop), class: "btn btn-primary btn-sm"%>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="">
          </thead>
            <th>
              Name
            </th>
            <th>
              Description
            </th>
            <th>
              Published Journals
            </th>
            <th>
              Actions
            </th>
          <tbody>
            <%= render partial: "crop_variant", collection: Variant.where(crop_id: @crop.id) %> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>