<%= bootstrap_form_for [@plant, @harvest] do |f| %>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">How was the harvest?</h4>
  </div>
  <div class="card-body" style="display:flex;justify-content:space-around;">
    <div>
      <%= f.number_field :height_in_centimeters, placeholder: "100" %><br>
    </div>
    <div>
      <button class="btn btn-info">Add a picture</button>
      <%= button_to "Add Harvest Report", {}, {:class=>"btn btn-warning"} %>
    </div>
  </div>
</div>
<% end %>