<div class="card" style="width:40%;">
  <div class="card-header">
    <h5 class="card-title">What's it grow in?</h5>
  </div>
  <div class="card-body">
    <%= bootstrap_form_for @media do |f| %>
      <%= f.text_field :name, placeholder: "Medium" %><br>
      <%= f.text_area :name, placeholder: "Enter description here..." %><br>
      <%= button_to "Add Medium" %>
    <% end %>
  </div>
</div>