.plant#header{
  text-align: center;
}
.plant#body{
  display: flex;
  justify-content: space-between;
}
.plant#details{
  margin-left: 10px;
}
.plants#overview{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.details#journals{
  margin-left: 20px;
}
.details#attentions{
  margin-right: 20px;
}