.plantsHeader{
  display: flex;
  justify-content: space-between;
}
.headerStat{
  margin-top: auto;
}
.plantHeader{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.reports{
  display: flex;
  justify-content: space-around;
}
.reportCard{
  text-align: center;
}
.weeklyLogs{
  padding: 50px;
}
.logsTable{
  width: 100%;
}