<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <title>GroWise</title>
  </head>
  <body>
      <div class="plantHeader">
        <div>
          <h1>Cannabis</h1>
          <span>Pull From WikiPedia Page on the Crop?</span>
        </div>
        <div>
          <h3>Blueberry</h3>
        </div>
      </div>
      <hr>
      <div class="reports">
        <div class="reportCard card">
          <h2>Feeding Schedule</h2>
          <hr>
          <h3>10-10-10</h3>
          <h5>Planting Date</h5>
          <hr>
          <h2>Fox Farm</h2>
          <h5>Food Plan</h5>
          <hr>
          <h2>10-11-10</h2>
          <h5>Next Scheduled Feeding</h5>
          <button>View/Create/Edit Feeding Schedule</button>
        </div>
        <div class="reportCard card">
          <h2>Harvest Report</h2>
          <hr>
          <h3>11-11-11</h3>
          <h5>Estimated/Latest Harvest Date</h5>
          <hr>
          <h3>100g</h3>
          <h5>Estimated/Latest Harvest</h5>
          <hr>
          <h3>1000%</h3>
          <h5>Percentage Growth</h5>
          <button>View/Create Full Report</button>  
        </div>
        <div class="reportCard card">
          <h3>Health Report</h3>
          <hr>
          <h3>10/10</h3>
          <h5>Status</h5>
          <button>View Full Report</button>  
        </div>
      </div>
      <div class="weeklyLogs">
        <table class="logsTable">
          <thead>
            <td>Start</td>
            <td>End</td>
            <td>Phase</td>
            <td>Something</td>
            <td>Something</td>
          </thead>
          <tbody>
            <tr>
              <td>10-10-10</td>
              <td>10-17-10</td>
              <td>Seeding</td>
              <td>A Thing</td>
              <td>A Thing</td>
              <td><button>Details</button></td>
            </tr>
            <tr>
              <td>10-10-10</td>
              <td>10-17-10</td>
              <td>Seeding</td>
              <td>A Thing</td>
              <td>A Thing</td>
              <td><button>Details</button></td>
            </tr>
            <tr>
              <td>10-10-10</td>
              <td>10-17-10</td>
              <td>Seeding</td>
              <td>A Thing</td>
              <td>A Thing</td>
              <td><button>Details</button></td>
            </tr>
            <tr>
              <td>10-10-10</td>
              <td>10-17-10</td>
              <td>Seeding</td>
              <td>A Thing</td>
              <td>A Thing</td>
              <td><button>Details</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
  </body>
</html>