.plantHeader{
  display: flex;
  justify-content: space-between;
}
.reports{
  display: flex;
  justify-content: space-around;
}
.reportCard{
  text-align: center;
}
.weeklyLogs{
  padding: 50px;
}
.logsTable{
  width: 100%;
}
.weeklyReport{
  padding: 10px;
}
.feedPlan{
  padding: 25px;
}