<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <title>GroWise</title>
  </head>
  <body>
    <div id="header">
      <div>
        <h1>GroWise</h1>
        <span>For all your Growing Needs</span>
      </div>
      <div>
        <h3>Hello, User</h3>
      </div>
      <div class="button" id="access">
        <button>Sign Up</button>
        <button>Log In</button>
      </div>
    </div>
    <div id="sidebar">
      <button>Profile</button><br>
      <button>Plants</button><br>
      <button>Grow Plans</button><br>
    </div>
    <div id="main">
      <div id="row">
        <div id="thing">
          <h1>10</h1>
          <h5>Plants</h5>
        </div>
        <div id="thing">
          <h1>100g</h1>
          <h5>Overall Yields</h5>
        </div>
        <div id="thing">
          <h1>01-15-22</h1>
          <h5>Next Harvest</h5>
        </div>
        <div id="thing">
          <h1>150g</h1>
          <h5>Expected Yield</h5>
        </div>
        <div id="thing">
          <h1>50%</h1>
          <h5>Growth %</h5>
        </div>
      </div>
      <div id="index">
        <table>
          <button>New Plant</button> 
          <tr>
            <th>Start Date |</th>
            <th> Harvest Date |</th>
            <th> Current Week |</th> 
            <th> Grow Medium |</th>
            <th> Nutrient Mix |</th>
            <th> Light? |</th>
            <th> Growth |</th>
            <th> Notes |</th>
          </tr>
          <tr>
            <td>10-10-10 |</td>
            <td>10-10-10 |</td>
            <td> Veg 4 |</td> 
            <td> CoCo |</td>
            <td> Fox Farms |</td>
            <td> 10kw |</td>
            <td> On Track |</td>
          </tr>
          <tr>
            <td>10-10-10 |</td>
            <td>10-10-10 |</td>
            <td> Veg 4 |</td> 
            <td> CoCo |</td>
            <td> Fox Farms |</td>
            <td> 10kw |</td>
            <td> On Track |</td>
          </tr>
          <tr>
            <td>10-10-10 |</td>
            <td>10-10-10 |</td>
            <td> Veg 4 |</td> 
            <td> CoCo |</td>
            <td> Fox Farms |</td>
            <td> 10kw |</td>
            <td> On Track |</td>
          </tr>
          <tr>
            <td>10-10-10 |</td>
            <td>10-10-10 |</td>
            <td> Veg 4 |</td> 
            <td> CoCo |</td>
            <td> Fox Farms |</td>
            <td> 10kw |</td>
            <td> On Track |</td>
          </tr>
          <tr>
            <td>10-10-10 |</td>
            <td>10-10-10 |</td>
            <td> Veg 4 |</td> 
            <td> CoCo |</td>
            <td> Fox Farms |</td>
            <td> 10kw |</td>
            <td> On Track |</td>
          </tr>
          <tr>
            <td>10-10-10 |</td>
            <td>10-10-10 |</td>
            <td> Veg 4 |</td> 
            <td> CoCo |</td>
            <td> Fox Farms |</td>
            <td> 10kw |</td>
            <td> On Track |</td>
          </tr>
          <tr>
            <td>10-10-10 |</td>
            <td>10-10-10 |</td>
            <td> Veg 4 |</td> 
            <td> CoCo |</td>
            <td> Fox Farms |</td>
            <td> 10kw |</td>
            <td> On Track |</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
