<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <title>GroWise</title>
  </head>
  <body>
    <div class="weeklyReport">
      <div class="weeklyReportCards">
        <h3>Week.growth_status</h3>
        <h5>Week.start_date</h5>
        <button>link_to Week.id</button>
      </div>
      <div class="weeklyReportCards">
        <h3>Week.growth_status</h3>
        <h5>Week.start_date</h5>
        <button>link_to Week.id</button>
      </div>
      <div class="weeklyReportCards">
        <h3>Week.growth_status</h3>
        <h5>Week.start_date</h5>
        <button>link_to Week.id</button>
      </div>
      <div class="weeklyReportCards">
        <h3>Week.growth_status</h3>
        <h5>Week.start_date</h5>
        <button>link_to Week.id</button>
      </div>
      <div class="weeklyReportCards">
        <h3>Week.growth_status</h3>
        <h5>Week.start_date</h5>
        <button>link_to Week.id</button>
      </div>
    </div>
  </body>
</html>
